@import "variables";
.navbar {
  padding-top: 15px;
  padding-bottom: 15px;

  .container {
    display: flex;
    align-items: center;
    .brand {
      display: flex;
      text-decoration: none;
      font-size: 24px;
      transition: 200ms opacity;
      &:hover {
        opacity: 0.7;
      }
      &:active {
        opacity: 0.2;
      }
      .title {
        font-weight: 500 !important;
        margin-left: 5px;
      }
      color: $theme-primary-200;
    }
    .menuIcon {
      display: none;
    }
    .collapse {
      z-index: 30;
      margin-left: auto;

      .nav {
        display: flex;
        list-style: none;
        .item {
          margin-left: 15px;
          position: relative;
          &:hover{
            .dropdown{
              transform: translateY(0);
            }
          }
          .dropdown{
            box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.24);
            background-color: #fff;
            width: 150px;
            border-radius: 2px;
            list-style: none;
            position: absolute;
            transition: 300ms transform;
            // display: none;
            z-index: 2000;
            transform: translateY(-200px);
            .dropdownItem{
              .dropdownLink{

              }
            }
          }
          .link ,.dropdownLink {
            display: block;
            text-decoration: none;
            font-size: 17px;
            color: $theme-black;
            padding: 0.5rem 1rem;
            transition: 200ms color;
            &.active {
              color: $theme-primary-200;
              font-weight: 500;
            }
            &:hover {
              color: $theme-primary-200;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    .container {
      .brand {
        align-items: center;
      }
      .menuIcon {
        display: block;
        margin-left: auto;
        background: none;
        border: none;
        outline: none;
      }
      .open {
        transform: translateX(0%) !important;
      }
      .collapse {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100vh - 47.344px);
        background-color: #fff;
        transform: translateX(150%);
        transition: 300ms transform;
        margin-top: 58px;
        .nav {
          flex-direction: column;
          .item {
            margin: 0;
            font-size: 18px;
            font-weight: 500;
            &.collapsed{
              .dropdown{
                display: block;
              }
            }
            .dropdown{
              width: 100%;
              transform: translate(0);
              position: static; 
              box-shadow: none;
              background-color: $theme-white-100;
              margin-left: auto;
              display: none;
              padding: 10px;
              .dropdownItem{
                margin-top: 10px;
                
              }
            }
            .active {
              background-color: #c6998b41;
              font-weight: 700;
            }
            margin: 10px 15px;
            .link {
              width: 100%;
              svg{
                margin-left: auto !important;
              }
            }
          }
        }
      }
    }
  }
}
