@import "variables";

.title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: $font-family-montserrat;
  &.row{
    flex-direction: row;
    justify-content: space-between;
    p{
      margin: 0;
    }
    h1{
      padding-right: 15px;
    }
    .line{
      margin: 0;
      width: 100%;
      background-color: #EFF1F4;
    }
  }
  &.lineNone{
   .line{
     display: none;
   }
  }
  h1 {
    font-family: $font-family-montserrat;
  }
  .line {
    width: 75px;
    height: 1px;
    background-color: $theme-primary-300;
    margin-top: 30px;
  }
  p {
    font-family: $font-family-montserrat;
    margin-top: 30px;
    font-weight: 300;
    font-size: 18px;
  }
}
